<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      <img src="assets/img/header-logo.png">
    </a>
  </div>

  <div class="navbar-end">
    <div *ngIf="!authService.isAuthenticated()" class="navbar-item">
      <a routerLink="/login" class="button is-info">Sign In</a>
    </div>
    <div *ngIf="authService.isAuthenticated()" class="navbar-item">
      <p style="margin-right: 10px">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}</p>
      <a (click)="logout()" class="button is-info">Log Out</a>
    </div>
  </div>
</nav>
