<section class="hero is-info welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Users management section
      </h1>
      <h2 class="subtitle">
        All users list is below. You are welcome!
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div>
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Events
        </p>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
              <th>Active</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Role</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td width="5%"><i class="fa fa-bell-o"></i></td>
              <td>John Doe</td>
              <td>john@doe.com</td>
              <td>CLIENT</td>
              <td><a class="button is-small is-primary" href="#">Action</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">View All</a>
      </footer>
    </div>
  </div>
</section>
