<section class="section">
  <div class="container">
    <div class="notification has-text-centered">
      Welcome to Freight Exchange System. Please, fill all of the required field to create your account.
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">First Name</label>
        </div>
        <div class="field-body">
          <div class="control is-expanded has-icons-left has-icons-right">
            <input type="text" formControlName="firstName" class="input"
                   [ngClass]="{ 'is-danger': submitted && form.firstName.errors, 'is-success': form.firstName.valid }"/>
            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"
                                                    *ngIf="submitted && form.firstName.errors"></i></span>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Last Name</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left has-icons-right">
            <input type="text" formControlName="lastName" class="input"
                   [ngClass]="{ 'is-danger': submitted && form.lastName.errors, 'is-success': form.lastName.valid }"/>
            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"
                                                    *ngIf="submitted && form.lastName.errors"></i></span>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left has-icons-right">
            <input type="email" formControlName="email" class="input"
                   [ngClass]="{ 'is-danger': submitted && form.email.errors, 'is-success': form.email.valid }"/>
            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"
                                                    *ngIf="submitted && form.email.errors"></i></span>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Gender</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left">
            <div class="select">
              <select formControlName="gender">
                <option *ngFor="let item of genders" [ngValue]="item">{{item}}</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-transgender"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Phone</label>
        </div>
        <div class="field-body">
          <div class="control has-icons-left has-icons-right">
            <input type="tel" formControlName="phone" class="input"
                   placeholder="Phone number" [ngClass]="{ 'is-danger': form.phone.errors || !form.phone.valid}"/>
            <span class="icon is-small is-left"><i class="fas fa-phone"></i></span>
            <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"
                                                    *ngIf="submitted && form.phone.errors"></i></span>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="password" formControlName="password" class="input"
                   [ngClass]="{ 'is-danger': submitted && form.password.errors }"/>
            <!--TODO: test without submitted-->
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">Password is required</div>
              <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Repeat</label>
        </div>
        <div class="field-body">
          <div class="control">
            <input type="password" formControlName="passwordRepeat" class="input"
                   [ngClass]="{ 'is-danger': submitted && form.password.errors }"/>
          </div>
        </div>
      </div>
      <div *ngIf="form.passwordRepeat.errors">
        <div class="notification is-danger" *ngIf="form.passwordRepeat.errors?.minlength">Password must be at least 6
          characters
        </div>
        <div class="notification is-danger" *ngIf="form.passwordRepeat.errors?.matchPassword">Password not match</div>
      </div>

      <div class="form-group field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>
        </div>
      </div>

      <div class="form-group field is-grouped">
        <div class="control">
          <button [disabled]="loading || registerForm.invalid" class="button is-primary">Register</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
        <div class="control">
          <a [routerLink]="['/login']" class="button is-text">Cancel</a>
        </div>
      </div>

    </form>

  </div>
</section>
